<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.sns.board.vo.Auction" alias="auction"/>
		<typeAlias type="com.sns.board.vo.Hashtag" alias="hashtag"/>
		<typeAlias type="com.sns.board.vo.Search" alias="search"/>
		<typeAlias type="com.sns.board.vo.Userinfo" alias="Userinfo"/>	
		<typeAlias type="com.sns.board.vo.Eventlist" alias="Eventlist"/>
		<typeAlias type="com.sns.board.vo.Board" alias="Board"/>
		<typeAlias type="com.sns.board.vo.Picture" alias="Picture"/>
		<typeAlias type="com.sns.board.vo.Post" alias="Post"/>
		<typeAlias type="com.sns.board.vo.Comment" alias="Comment"/>
	</typeAliases>
	
	<mappers>
		<mapper resource = "SnsSql.xml" />
		<mapper resource = "UserSql.xml" />
		<mapper resource = "PictureSql.xml" />
	</mappers>
</configuration>